.page {
  min-height: calc(100vh - 100px);
  position: relative;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.main-div {
  min-height: calc(100vh - 100px);
  position: relative;
}
