.theme-btn {
  width: 56px;
  height: 28px;
  border-radius: 28px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.theme-btn-round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.theme-btn-dark {
  background-color: #2c2e3d;
  border: 1px solid #444;
  box-shadow: 0 0 1px 1px rgba(197, 197, 197, 0.2);
}

.theme-btn-light {
  border: 1px solid #bbd;
  box-shadow: 0 0 4px 2px rgba(207, 207, 207, 0.4);
  background: linear-gradient(to right, #609dff, #6acdff, #9cecfb);
}

.theme-btn-round-dark {
  background-color: #444;
  left: 2px;
  color: #ffd700;
  box-shadow: 0 0 3px rgba(255, 215, 0, 0.4);
  transition: left 0.3s ease;
}

.theme-btn-round-light {
  background-color: #fff;
  border: 1px solid #3180ff;
  box-shadow: 0 0 2px 1px #3e88ff;
  transition: left 0.3s ease;
  left: 29px;
  color: #f59e0b;
}
